<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AnalyzeFolders" value="c:\Divya\Per; c:\Divya\Work; C:\Divya\test dd; C:\ProgramData" />
		<add key="DeepCopy" value="c:\Divya\test dd>c:\Divya\TESTABC; C:\Divya\test aa>C:\Divya\TESTDD" />
		<add key="FolderwithMultipleFiles" value="c:\divya\Test aa"/>
		<add key="FoldertoAggregate" value="c:\divya\Aggregate"/>
	</appSettings>
</configuration>